<section class="py-5 bg-light">
        <div class="container text-center">
            <h2 class="fw-bold">contact</h2>
            <p class="mb-5">
                donec tincidunt nostra sem, felis varius semper ad malesuada non mi nisi neque aenean sociis potenti, euismod etiam dui arcu dictum tempor suscipit ultrices libero dictumst rutrum hendrerit.
            </p>

            <form class="mx-auto" style="max-width: 600px;">
                <div class="mb-3 text-start">
                    <label for="message" class="form-label">your message</label>
                    <textarea class="form-control" id="message" rows="4" placeholder="please enter your message here..."></textarea>
                </div>
                <buttom type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </section>

    
        
   

    
