<section class="py-5 bg-white">
  <div class="container">
    <h1 class="fs-1">Contact</h1>
    <p class="mb-5">
      Donec tincidunt nostra sem, felis varius semper ad malesuada non mi nisi neque aenean sociis potenti, euismod etiam dui arcu dictum tempor suscipit ultrices libero dictumst rutrum hendrerit.
    </p>

    <div class="bg-light p-4 rounded shadow-sm mx-auto" style="max-width: 700px;">
      <form>
        <div class="row mb-3">
          <label for="inputEmail3" class="col-sm-3 col-form-label fw-bold text-end">Your E-mail</label>
          <div class="col-sm-9">
            <input type="email" class="form-control" id="inputEmail3" placeholder="Your email">
          </div>
        </div>
        <div class="row mb-3">
          <label for="message" class="col-sm-3 col-form-label fw-bold text-end">Your message</label>
          <div class="col-sm-9">
            <textarea class="form-control" id="message" rows="4" placeholder="Please enter your message here..."></textarea>
          </div>
        </div>
        <div class="text-end">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>
    </div>
  </div>
</section>