<!-- your html code here -->
<p>Hello, I'm the first_heading.html</p>

<div class="container row m-auto">
    <div class="col-8">
        <h3>This first heading <span class="text-secondary">will catch your eye</span></h3>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iusto exercitationem eveniet est praesentium ad,
            modi nesciunt harum nisi quas facere fugiat reiciendis neque fuga hic fugit! Quae expedita nihil quos!</p>
    </div>
    <div class="text-center img-fluid col-2 rounded_image">
    <img src="https://www.teleadhesivo.com/es/img/asfs587-jpg/folder/products-listado-merchanthover/pegatinas-coches-motos-breaking-bad-walter-white-con-sombrero.jpg" class="rounded" alt="...">
    </div>
</div>