<div class="container mt-5 p-5 border border-start-0 border-end-0">
  <div class="row align-items-start">
    <div class="col-12 col-md-8 text-center text-md-start">
      <h1 class="fs-1 fs-md-1">This First Heading <span class="text-secondary">Will Catch Your Eye</span></h1>
      <p class="fs-4">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent
        commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
    </div>
    <div class="col-12 col-md-4 text-center rounded_image">
      <img src="./assets/img/1.jpg" class="img-fluid">
    </div>
  </div>
</div>