
  
    <section class="py5">
        <div class="container">
            <h1 class="fs-1">Porfolio</h1>
            <p class="fs-4 mb-5">
                Donec ullamcorper nulla non metus auctor fringuilla. Vestibulum id ligula porta felis euismod semper.
                praesent commodo cursus magna, vel scelerisque nislconsectetur. fusce dapibus, tellus ac cursus commodo.
            </p>

            <div class="row">
                <div class="col-md-4">
                    <img src="assets/img/big-project-image.png" class="img-fluid mb-3" alt="proyect image">
                    <h5 class="text-primary fs-3">Project Name</h5>
                    <p class="fs-5">Neque quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit.</p>
                </div>

                <div class="col-md-4">
                    <img src="assets/img/big-project-image.png" class="img-fluid mb-3" alt="proyect image">
                    <h5 class="text-primary fs-3">Project Name</h5>
                    <p class="fs-5">Neque quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit.</p>
                </div>

                <div class="col-md-4">
                    <img src="assets/img/big-project-image.png" class="img-fluid mb-3" alt="proyect image">
                    <h5 class="text-primary fs-3">Project Name</h5>
                    <p class="fs-5">Neque quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit.</p>
                </div>
            </div>
        </div>
    </section>