
  
    <section class="py5">
        <div class="container text-center">
            <h2 class="fw-bold">Portfolio</h2>
            <p class="mb-5">
                Donec ullamcorper nulla non metus auctor fringuilla. Vestibulum id ligula porta felis euismod semper.
                praesent commodo cursus magna, vel scelerisque nislconsectetur. fusce dapibus, tellus ac cursus commodo.
            </p>

            <div class="row">
                <div class="col-md-4">
                    <img src="assets/img/big-project-image.png" class="img-fluid mb-3" alt="proyect image">
                    <h5 class="text-primary">proyect name</h5>
                    <p>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit.</p>
                </div>

                <div class="col-md-4">
                    <img src="assets/img/big-project-image.png" class="img-fluid mb-3" alt="proyect image">
                    <h5 class="text-primary">proyect name</h5>
                    <p>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit.</p>
                </div>

                <div class="col-md-4">
                    <img src="assets/img/big-project-image.png" class="img-fluid mb-3" alt="proyect image">
                    <h5 class="text-primary">proyect name</h5>
                    <p>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit.</p>
                </div>
            </div>
        </div>
    </section>