<!-- TAGLINE -->
<section class="d-flex align-items-start justify-content-center text-center pt-5"
         style="background-image: url('assets/img/bg.jpg'); height: 80vh; background-size: cover; background-position: bottom;">
  <div class="container-fluid mt-5 pt-5 mt-5 pt-5">
    <div class="bg-white">
      <h1 class="display-1 display-sm-3 fw-bold text-dark">One Page Wonder</h1>
    </div>
    <div class="bg-white">
      <h2 class="display-5 display-sm-6 fw-bold text-dark">Will Knock Your Socks Off</h2>
    </div>
  </div>
</section>